In [ ]:
import $ivy.`org.apache.spark::spark-sql:3.0.0`;
import org.apache.log4j.{Level, Logger};
Logger.getLogger("org").setLevel(Level.OFF);

import org.apache.spark.sql._

val spark = SparkSession.
            builder().
            appName("scala-spark-notebook").
            master("spark://spark-master:7077").
            config("spark.executor.memory", "512m").
            getOrCreate()

//df=spark.read.format("csv").option("header","true").load("/AirlineData/flights.csv")

In [2]:
spark.version

res1: String = "3.0.0"

In [35]:
val aircraft_dataDF = spark.read.format("csv").option("header", "true").load("/data/aircrafts_data.csv")
val airport_dataDF = spark.read.format("csv").option("header", "true").load("/data/airports_data.csv")
val boarding_passesDF = spark.read.format("csv").option("header", "true").load("/data/boarding_passes.csv")
val bookingsDF = spark.read.format("csv").option("header", "true").load("/data/bookings.csv")
val flightDF = spark.read.format("csv").option("header", "false").schema("flight_id int, flight_no int, scheduled_departure timestamp, scheduled_arrival timestamp, departure_airport string, arrival_airport string, status string, aircraft_code string, actual_departure timestamp, actual_arrival timestamp").load("/data/flights.csv")
val seatsDF = spark.read.format("csv").option("header", "true").load("/data/seats.csv")
val ticket_flightsDF = spark.read.format("csv").option("header", "false").schema("ticket_no string, flight_id int, fare_conditions string, amount int").load("/data/ticket_flights.csv")
val ticketsDF = spark.read.format("csv").option("header", "false").schema("ticket_no string, book_ref string, passenger_id string, passenger_name string, contact_data string").load("/data/tickets.csv")

aircraft_dataDF: DataFrame = [aircraft_code: string, model: string ... 1 more field]
airport_dataDF: DataFrame = [airport_code: string, airport_name: string ... 4 more fields]
boarding_passesDF: DataFrame = [ticket_no: string, flight_id: string ... 2 more fields]
bookingsDF: DataFrame = [book_ref: string, book_date: string ... 1 more field]
flightDF: DataFrame = [flight_id: int, flight_no: int ... 8 more fields]
seatsDF: DataFrame = [aircraft_code: string, seat_no: string ... 1 more field]
ticket_flightsDF: DataFrame = [ticket_no: string, flight_id: int ... 2 more fields]
ticketsDF: DataFrame = [ticket_no: string, book_ref: string ... 3 more fields]

In [48]:
//ticket_flightsDF.show()
ticket_flightsDF.groupBy("flight_ID").sum("amount").show()

+---------+-----------+
|flight_ID|sum(amount)|
+---------+-----------+
|     2122|    2592100|
|    18979|     441900|
|     5518|    2483700|
|     7833|     564700|
|    14832|     124700|
|    15447|    1501300|
|    29834|     113400|
|     4101|      90000|
|    29194|     916300|
|    15727|    1065200|
|     2366|   16470100|
|     6654|     138200|
|    10206|      58000|
|    12027|     113400|
|    15790|     268100|
|    26708|     539800|
|      463|    1436100|
|     7754|    5478700|
|     7554|     308300|
|    28577|     850200|
+---------+-----------+
only showing top 20 rows